[include .dynamicmacros.cfg]

[include fluidd.cfg]

[include macros.cfg]

[include timelapse.cfg]

[include KAMP_Settings.cfg]

[mcu]
#####################################################################
# Obtain definition by "ls -l /dev/serial/by-id/"
#####################################################################
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 5000
minimum_cruise_ratio: 0.7
square_corner_velocity: 11.0
max_z_velocity: 100
max_z_accel: 500

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
spi_bus: spidev0.0

[resonance_tester]
accel_chip: adxl345
probe_points: 110,110,20  # Střed bedu pro Ender 3 V3 SE – uprav podle potřeby

[input_shaper]
damping_ratio_x: 0.100000
damping_ratio_y: 0.10

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 40
endstop_pin: !PA5
position_endstop: -6
position_min: -6
position_max: 230
homing_speed: 60

[tmc2209 stepper_x]
uart_pin: PB12
run_current: 0.65
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: True

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 40
endstop_pin: !PA6
position_endstop: -14
position_min: -14
position_max: 225
homing_speed: 60

[tmc2209 stepper_y]
uart_pin: PB13
run_current: 0.7
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: True

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 250
homing_speed: 5
second_homing_speed: 1
homing_retract_dist: 2.5

[tmc2209 stepper_z]
uart_pin: PB14
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: True

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.663
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 5
max_extrude_only_distance: 500
#pressure_advance: 0.044
#pressure_advance: 0.100
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 260

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 100

#####################################################################
#   Bed Mesh & BL Touch
#####################################################################

[bed_mesh]
speed: 220
horizontal_move_z: 7
mesh_min: 15, 15
mesh_max: 195, 200
probe_count: 7, 7
algorithm: bicubic
bicubic_tension: 0.3
fade_start: 1.0
fade_end: 6.0
fade_target: 0.0

[bltouch]
sensor_pin: ^PC14
control_pin: PC13
stow_on_each_sample: False
probe_with_touch_mode: True
x_offset: -24.0
y_offset: -14.5
speed: 5
samples: 3
lift_speed: 10

#####################################################################
#   Fan Control
#####################################################################

[heater_fan hotend_fan]
pin: PC1
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5   # pomůže maglevu roztočit se

[fan]
pin: PA0
cycle_time: 0.0005     # někdy pomáhá u Sunon 5015 bloweru

#####################################################################
#   Idle Timeout & Homing
#####################################################################

[idle_timeout]
gcode:
  OFF
timeout: 3600

[safe_z_home]
home_xy_position: 139, 127
speed: 60
z_hop: 10
z_hop_speed: 5

[output_pin beeper]
pin: PB0

#####################################################################
#   G-Code features
#####################################################################

[gcode_arcs]

[exclude_object]

[include shell_command.cfg]

[dynamicmacros]
configs: dynamic.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.087
#*# pid_ki = 0.660
#*# pid_kd = 1554.922
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.794
#*# pid_ki = 2.273
#*# pid_kd = 47.567
#*#
#*# [bltouch]
#*# z_offset = 1.744
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 81.0
#*# shaper_type_y = ei
#*# shaper_freq_y = 50.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.182500, -0.123333, -0.058333, 0.012500, 0.077500, 0.127500, 0.183333
#*# 	  -0.225000, -0.180000, -0.120833, -0.057500, 0.015833, 0.079167, 0.162500
#*# 	  -0.228333, -0.202500, -0.135833, -0.093333, -0.012500, 0.070000, 0.145000
#*# 	  -0.230000, -0.245000, -0.180000, -0.104167, -0.019167, 0.072500, 0.155000
#*# 	  -0.250000, -0.248333, -0.175000, -0.094167, -0.004167, 0.065000, 0.146667
#*# 	  -0.219167, -0.221667, -0.150000, -0.077500, 0.010000, 0.122500, 0.210000
#*# 	  -0.165833, -0.142500, -0.071667, -0.010000, 0.087500, 0.178333, 0.265000
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 15.0
#*# max_x = 195.0
#*# min_y = 15.0
#*# max_y = 199.97999999999996
