[include .dynamicmacros.cfg]

[include fluidd.cfg]

[include macros.cfg]

[include timelapse.cfg]

[include KAMP_Settings.cfg]

[mcu]
#####################################################################
# Obtain definition by "ls -l /dev/serial/by-id/"
#####################################################################
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 3500
minimum_cruise_ratio: 0.5   # 0.5 je lepší pro krátké trasy než 0.7
square_corner_velocity: 10 # Pro začátek nechej 5.0, uvidíš tu ostrost rohů!
max_z_velocity: 15          # 100 bylo moc, Z osa má trapéz a ten nechceš točit tak rychle
max_z_accel: 300

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
spi_bus: spidev0.0

[resonance_tester]
accel_chip: adxl345
probe_points: 110,110,20  # Střed bedu pro Ender 3 V3 SE – uprav podle potřeby

[input_shaper]
damping_ratio_x: 0.100000
damping_ratio_y: 0.10

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 40
endstop_pin: !PA5
position_endstop: -6
position_min: -6
position_max: 230
homing_speed: 60

[tmc2209 stepper_x]
uart_pin: PB12
run_current: 0.65
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: True

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 40
endstop_pin: !PA6
position_endstop: -14
position_min: -14
position_max: 225
homing_speed: 60

[tmc2209 stepper_y]
uart_pin: PB13
run_current: 0.7
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: True

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 250
homing_speed: 5
second_homing_speed: 1
homing_retract_dist: 2.5

[tmc2209 stepper_z]
uart_pin: PB14
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: True

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.663
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 5
max_extrude_only_distance: 500
#pressure_advance: 0.044
#pressure_advance: 0.100
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 260

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 100

#####################################################################
#   Bed Mesh & BL Touch
#####################################################################

[bed_mesh]
speed: 220
horizontal_move_z: 7
mesh_min: 15, 15
mesh_max: 195, 200
probe_count: 5, 5
algorithm: bicubic
bicubic_tension: 0.3
fade_start: 1.0
fade_end: 6.0
fade_target: 0.0

[bltouch]
sensor_pin: ^PC14
control_pin: PC13
stow_on_each_sample: False
probe_with_touch_mode: True
x_offset: -24.0
y_offset: -14.5
speed: 5
samples: 3
lift_speed: 10

#####################################################################
#   Fan Control
#####################################################################

[heater_fan hotend_fan]
pin: PC1
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5   # pomůže maglevu roztočit se

[fan]
pin: PA0
cycle_time: 0.0005     # někdy pomáhá u Sunon 5015 bloweru

#####################################################################
#   Idle Timeout & Homing
#####################################################################

[idle_timeout]
gcode:
  OFF
timeout: 3600

[safe_z_home]
home_xy_position: 139, 127
speed: 60
z_hop: 10
z_hop_speed: 5

[output_pin beeper]
pin: PB0

#####################################################################
#   G-Code features
#####################################################################

[gcode_arcs]

[exclude_object]

[include shell_command.cfg]

[dynamicmacros]
configs: dynamic.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.087
#*# pid_ki = 0.660
#*# pid_kd = 1554.922
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.794
#*# pid_ki = 2.273
#*# pid_kd = 47.567
#*#
#*# [bltouch]
#*# z_offset = 1.899
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 80.6
#*# shaper_type_y = ei
#*# shaper_freq_y = 46.6
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.149167, 0.145000, 0.172500, 0.150000, 0.170833
#*# 	0.105833, 0.042500, 0.039167, 0.055833, 0.132500
#*# 	0.088333, -0.021667, -0.021667, 0.024167, 0.096667
#*# 	0.107500, -0.013333, -0.018333, 0.026667, 0.089167
#*# 	0.155833, 0.085833, 0.070833, 0.100833, 0.175833
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 206.0
#*# min_y = 10.0
#*# max_y = 210.48
